@model LocationViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Create Location</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Create Location</h2>

        @using (Html.BeginForm("Create", "Locations", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OpensAt)
                @Html.TextBoxFor(model => model.OpensAt, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClosesAt)
                @Html.TextBoxFor(model => model.ClosesAt, new { @class = "form-control" })
            </div>
            <div class="mt-3">
                <input type="submit" value="Add Location" class="btn btn-primary" />
                <a asp-controller="Locations" asp-action="Index" class="btn btn-secondary">Back to Menu</a>
            </div>
        }
    </div>

    <!-- Bootstrap JS and jQuery (for dropdowns, modals, etc.) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
